package private

type Private struct {
  client, secret, oauth string
}

var tokens *Private = &Private{
  "<Twitch Client Key>", // client
  "<Twitch Secret Key>", // secret
  // the above keys are obtained when you register your app via the dashboard
  "<Auth Token>", // oauth : http://twitchapps.com/tmi/
}

func GetClient() string {
  t := tokens.client
  return t
}

func GetSecret() string {
  t := tokens.secret
  return t
}

func GetAuthToken() string {
  t := tokens.oauth
  return t
}
